<!doctype html>
<html lang="zh-Hant-TW">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="apple-touch-icon" sizes="57x57" href="/static/media/icon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/media/icon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/media/icon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/media/icon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/media/icon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/media/icon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/media/icon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/media/icon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/media/icon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/static/media/icon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/media/icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/media/icon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/media/icon/favicon-16x16.png">
        <link rel="manifest" href="/static/media/icon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/media/icon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/theme-default.css" id="css-theme"/>
        <link rel="stylesheet" href="/static/css/main.css">

        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="/static/js/bundle.js"></script>

        {# <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> #}

        <title>Zhaooo - 最容易約炮的論壇</title>

        {% block head %}{% endblock %}

    </head>

    <body>
        <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
        <nav class="navbar navbar-light sticky-top bg-primary">
            <a class="navbar-brand" href="/">
                <img src="/static/media/img/logo-haooo.svg" height="48" alt="">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-white btn btn-primary" href="/">動態牆</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white btn btn-primary" href="/coin">兆幣</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#"></a>
                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            變更主題
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" onclick="changeTheme('theme-default.css');">原諒套餐</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="changeTheme('theme-purple.css');">紫衣軍團</a>
                            <a class="dropdown-item" href="#" onclick="changeTheme('theme-gray.css');">肥宅人生</a>
                            <a class="dropdown-item" href="#" onclick="changeTheme('theme-black.css');">臭黑鮑魚</a>
                            <a class="dropdown-item" href="#" onclick="changeTheme('theme-pink.css');">哈囉凱蒂</a>
                            <a class="dropdown-item" href="#" onclick="changeTheme('theme-darkgreen.css');">墨綠柯粉</a>
                            <script>
                                function changeTheme(cssFile) {
                                    $('#css-theme').attr('href', `/static/css/${cssFile}`)
                                }
                            </script>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#"></a>
                </li>
                <li class="nav-item">
                    <form action="logout" method="post">
                        {# <button type="button" class="btn btn-primary" name="logout" href="/login">登出</button> #}
                        <input name="logout" style="display: none;">
                        <button class="btn btn-primary">登出</button>
                    </form>
                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 bg-primary" style="opacity: 0.8;">
                    <div class="bd-sidebar">
                        {% block left_nav %}{% endblock %}
                    </div>
                </div>

                <div class="col-8">
                    <div class="content my-3">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div class="col-2 bg-primary" style="opacity: 0.8">
                    <div class="bd-sidebar">
                        <div class="card">
                            <img class="card-img-top" src="/static/media/ad/ad1.gif" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">別再打飛機啦！</h5>
                                <p class="card-text">2018 最容易約炮的論壇，地方的媽媽需要你的愛。<br/><br/>由兆神贊助</p>
                                <a href="#" class="btn btn-primary">了解更多</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </body>

</html>