{% extends "base.njk" %}

{% block left_nav %}
    <div class="card text-center" style="width: 100%;">
        <div class="card-header">
            兆幣
        </div>
        <ul class="list-group list-group-flush">
            <a id="buy-coin-link" class="list-group-item" href="#">
                買更多錢錢
            </a>
            <a id="send-coin-link" class="list-group-item" href="#">
                發錢給別人
            </a>
            <a id="buy-ad-link" class="list-group-item" href="#">
                買廣告
            </a>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div id="coin-container" class="text-center">
        <img src="/static/media/img/coins.svg" style="height: 48vh;">
        <h1 id="coin-amount">
            $
            {{ coin_amoount }}
            兆</h1>
        <p></p>
        <h4 id="coin-counter">
            {% if coin_amoount > 0 %}
                {% if coin_amoount >= 87 %}
                    恭喜你進入兆神會！
                {% endif %}
                {% if coin_amoount < 87 %}
                    你是全台科前 9.2% 有錢的人，多發點廢文ㄅ！加油！
                {% endif %}
            {% endif %}
            {% if coin_amoount <= 0 %}
                死窮逼 ㄏㄏ
            {% endif %}
        </h4>
    </div>
{% endblock %}