{% extends "base.njk" %}

{% block left_nav %}
    <div style="height:100%;">
        <div class="card text-center" style="width: 100%;">
            <ul class="list-group list-group-flush">
                <li class="pt-2">
                    <img src="/static/media/img/avatar.svg" alt="Avatar" style="width: 60%">
                    <p> {{user_name}} </p>
                </li>
                <a id="wall-link" class="list-group-item" href="#">
                    動態牆
                </a>
                <a id="class-link" class="list-group-item" href="#">
                    班級看板
                </a>
            </ul>
        </div>
        <div class="card text-center mt-3" style="width: 100%;">
            <div class="card-header">
                熱門看版
            </div>
            <ul class="list-group list-group-flush">
                <a id="gossiping-link" class="list-group-item" href="#">
                    八卦
                </a>
                <a id="gossiping-link" class="list-group-item" href="#">
                    西斯
                </a>
                <a id="gossiping-link" class="list-group-item" href="#">
                    表特
                </a>
                <a id="gossiping-link" class="list-group-item" href="#">
                    希洽
                </a>
                <a id="gossiping-link" class="list-group-item" href="#">
                    電蝦
                </a>
            </ul>
        </div>
    </div>

    {# <a id="wall-link" class="nav-link" href="#">動態牆</a>
        <a id="class-board-link" class="nav-link" href="#">班級看板</a>
        <p>
            <a id="board-link" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                最愛看版
            </a>
        </p>
        <div class="collapse" id="collapseExample"></div> #}

{% endblock %}

{% block content %}
    {# <script>
        function PostArticleData(){
            var formArticle = document.forms['article']
            var timestamp = Date.now()
            formArticle.timestamp.value = timestamp
            console.log("fuck")
        }
    </script> #}

    <!-- Button trigger modal -->
    <button type="button" id="post-article" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
        發廢文
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">發廢文</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="article" action="post_article" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea class="form-control" name="content" rows="3"></textarea>
                            {# <input type="hidden" name="timestamp"> #}
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="anonymous">
                            <label class="form-check-label" for="exampleCheck1">匿名發表</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button id="submit-article" class="btn btn-primary" type="submit">發射</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="height:100%;">
        {% for item in articles %}
            <div class="card mt-3" style="width: 100%;">
                <div class="card-body">
                    <span><img src="/static/media/img/avatar.svg" alt="Avatar" style="height: 2.5rem; margin-left: -5px; margin-bottom: 0.5rem" class="mr-2"><span class="name" style="font-size: 1.5rem; padding-top:0.5rem">{{ item.id }}</span></span>
                    <h6 class="time mb-2 text-muted">{{ item.time }}</h6>
                    <p class="content">{{ item.content }}</p>

                    <input type="submit" value="😍" class="btn btn-mood"/>
                    <span>{{ like_amount }}</span>
                    <span style="margin: 0px 1rem;"> </span>
                    <input type="submit" value="😡" class="btn btn-mood"/>
                    <span>{{ angry_amount }}</span>
                    {# <a href="#" class="like"></a> #}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}