<html>

<head>
    <title>PO文啦幹</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
</head>

<body>
    <form action="http://127.0.0.1:8000/post_article" method="POST">
        輸入ID: <input type="text" name="使用者名稱" id="name"><br>
        輸入文章：<input type="textarea" name="文章內容" id="content"><br>
        <input type="text" name="時間" id="time">
        <input type="submit" value="送出">
    </form>
</body>

</html>