/* #header {
    background-color: #00997c;
    height: 64px;
}

.btn-primary {
    margin: 2px;
    background: #00a081;
    border-width: 0;
}

.btn-primary:hover {
    background: #00ad96;
    border-width: 0;
}

.left-nav-container{
    background-color: #00b592;
}

.ad-container{
    background-color: #00b592;
}

*/